*.venv
*.vscode
**/__pycache__
**/output/
**/articles/
**feed.txt
**/articles_old/
**.DS_Store
**.env
**.json
**.html
**/old

!sleeper_service/players.json
!sleeper_service/historical_stats_players.json